.Phone {
  width: 20em;
  background-color: #f0d6d9;
  padding: 2em;
  border-radius: 1em;
  margin: 1em;
  list-style: none;
  flex: 0 0 25%;
  transition: background-color 0.2s ease;

  a {
    text-decoration: none;
    color: inherit;
  }

  h2 {
    width: fit-content;
    margin: 0 auto;
  }

  img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 1em;
  }
}

.Phone:hover {
  background-color: #ec70a0;
}

.fullPhone {
  width: 50%;
  background-color: #f0d6d9;
  padding: 2em;
  border-radius: 1em;
  margin: 0 auto;
  margin-top: 2em;

  h2 {
    width: fit-content;
    margin: 0 auto;
  }

  .data {
    display: flex;
    flex-direction: row;

    .description {
      font-size: 1.2em;
      margin-right: 2em;
    }

    .image {
      img {
        display: block;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
        margin-top: 1em;
        border-radius: 1em;
      }
    }
  }
}
